.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 2;
 
}
.menu div {
  position: sticky;
  top: 0;
  width: 100%;

  visibility: visible;
  background: rgba(34,34,34,.2);
}

.menu-Ul {
  padding: 0;
  margin: 0;
}
.menu-Ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.menu-Ul li {
  list-style-type: none;
  display: block;
  line-height: 4;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}

.menu-Ul li:hover {
  background: rgba(0,0,0,.3);
}
