#menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  z-index: 2;
}
#menu div.menu-cover {
  position: sticky;
  top: 5%;
  width: 100px;
  visibility: visible;
}
.menu-Ul {
  padding: 0;
  margin: 0;
}
.menu-Ul li a {
  text-decoration: none;
  color: aliceblue;
  display: block;
}
.menu-Ul li {
  list-style-type: none;
  display: block;
  line-height: 4;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  transition: 0.3s linear;
  background: rgba(34,34,34,.2);

  border: 1px solid rgba(34,34,34,.2); 
  border-left: 0;
  border-right: 2px solid rgba(34,34,34,.2); 
}
.menu-Ul li:hover {
  background: rgba(0 ,0 ,0 ,.4);
}
.menu-Ul li:active{
  background: rgba(0 ,0 ,0 ,.6);
}
.pin-button {
  border: 0;
  background: #EBF7FC;
}
div.img {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}
.pin-button div[pin=on] {
  background: url(./img/pin-on.png) 100% 100% no-repeat; 
  background-size: cover;
}
.pin-button div[pin=off] {
  background: url(./img/pin-off.png) 100% 100% no-repeat; 
  background-size: cover;
}