.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  z-index: 2;
}
.menu div {
  position: sticky;
  top: 10%;
  width: 100px;
  visibility: visible;
}
.menu-Ul {
  padding: 0;
  margin: 0;
}
.menu-Ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.menu-Ul li {
  list-style-type: none;
  display: block;
  line-height: 4;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: 0.8s linear;
  background: rgba(34,34,34,.2);

  border: 1px solid rgba(34,34,34,.2); 
  border-left: 0;
  border-right: 2px solid rgba(34,34,34,.2); 
}
.menu-Ul li:hover {
  background: rgba(0 ,0 ,0 ,.4);
}
