.App {
  position: relative;
  background-color: tomato;
}

a:link {
  color: #000;
}
a:hover {
  color: rgba(253, 251, 251, 0.5);
}
a {
  color: #000;
}
.unselectable {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;        
}
::selection {
  background: #ffd0d0;
}
::-moz-selection {
  background: #ffb7b7;
}
.left {
  float: left;
}
.right {
  float: right;
}
button {
  outline: none;
  border: none;
}